[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=env QT_QPA_PLATFORM=xcb $HOME/workspace/linux/UltiMaker-Cura-5.6.0-linux-X64.AppImage
Name=UltiMaker Cura
Comment=UltiMaker Cura
